@model List<BitirmeProjesi.Models.Personel>
   
@{

}

<link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<table id="example" class="table table-striped table-bordered dt-responsive nowrap" >
	<thead>
		<tr>
			<th>Id</th>
			<th>Ad</th>
			<th>Soyad</th>
			<th>Tc Kimlik Numarası</th>
			<th>Telefon Numarası</th>
			<th>Kan Grubu</th>
			<th>Doğum Yeri</th>
			<th>İl</th>
			<th>İlçe</th>
			<th>Adres</th>
			<th>Cinsiyet</th>
			<th>Doğum Yılı</th>
			<th>E-Devlet Şifresi</th>
			<th>E-Mail</th>
			<th>Acil Durum Numarası</th>
			<th>İşe Başlama Tarihi</th>
			<th>İşten Ayrılma Tarihi</th>
			<th>Durum</th>
			<th>Düzenleme Kısmı</th>

		</tr>
	</thead>
	<tbody>
		@foreach (var personel in Model)
		{
			<tr>
				<td>@personel.Id</td>
				<td>@personel.Ad</td>
				<td>@personel.Soyad</td>
				<td>@personel.TcNo</td>
				<td>@personel.TelefonNo</td>
				<td>@personel.KanGrubu</td>
				<td>@personel.DoğumYeri</td>
 				<td>@personel.Il</td>
				<td>@personel.Ilce</td>
				<td>@personel.Adres</td>
				@if (personel.Cinsiyet == true)
				{
					<td>Erkek</td>
				}
				@if (personel.Cinsiyet == false)
				{
					<td>Kadın</td>
				}
				<td>@personel.DoğumYılı</td>
				<td>@personel.EDevletŞifre</td>
				<td>@personel.EMail</td>
				<td>@personel.AcilDurumdaUlaşılacakKişiNo</td>	
				<td>@personel.IseBaslamaTarihi.ToString("dd-MM-yyyy")</td>
				<td>@personel.IstenAyrılmaTarihi.ToString("dd-MM-yyyy")</td>
				@if (personel.CalısmaDurumu == true)
					{
						<td>Çalışıyor</td>
					}
				@if (personel.CalısmaDurumu == false)
				{
					<td>İşten Ayrılmış</td>
				}
				<td>
					 <a href="Personeller/View/@personel.Id">Düzenle ve Sil</a>
				</td>
			</tr>
		}
	</tbody>
</table>
@section Scripts
	{
	<script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
	<script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
	<script src="~/js/javascript.js"></script>
}
