@model List<Biletleme.Models.Musteri>

@{
}

<link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<table id="example" class="table table-striped table-bordered dt-responsive nowrap" >
	<thead>
		<tr>
			<th>Id</th>
			<th>Ad</th>
			<th>Soyad</th>
			<th>Doğum Tarihi</th>
			<th>Telefon Numarası</th>
			<th>E-Mail</th>
			<th>Kayıt Tarihi</th>
			<th>Durum</th>
			<th>Düzenleme Kısmı</th>
			
		</tr>
	</thead>
	<tbody>
		@foreach (var musteri in Model)
		{
			<tr>
				<td>@musteri.Id</td>
				<td>@musteri.Ad</td>
				<td>@musteri.Soyad</td>
				<td>@musteri.DoğumTarihi.ToString("dd-MM-yyyy")</td>
				<td>@musteri.TelNo</td>
				<td>@musteri.EMail</td>
				<td>@musteri.KayıtTarihi.ToString("dd-MM-yyyy")</td>
				<td>@musteri.Durum</td>
				<td>
					<a href="Musteriler/View/@musteri.Id">Düzenle ve Sil</a>
				</td>
			</tr>
		}
	</tbody>
</table>
@section Scripts
{
<script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
<script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
<script src="~/js/javascript.js"></script>
}


